<app>
  <div id="header" class="clearfix">
    <h1><a href="#/">RSS Reader</a></h1>
    <div class="nav">
      <a href="#/articles">articles</a>
      <a href="#/channels">channels</a>
      <a href="#/settings">settings</a>
    </div>
  </div>
  <div id="view"></div>
  <script>
    var self = this,
      mounted = null
    riot.route.base('#/')
    riot.route('*', function(tag) {
      riot.mount(self.view, tag)
    })
    riot.route('*/*', function(tag, uid) {
      if (mounted) mounted.unmount(true)
      mounted = riot.mount(self.view, tag, {uid: uid})[0]
    })
    riot.route(function() {
      riot.route('articles')
    })
    riot.route.start(true)
  </script>
</app>

<articles>
  <a href="#/articles/{ page - 1 }" if={ start } class="paginator">back</a>

  <a href="#/articles/{ page + 1 }" if={ articlesLength > end }
    class="paginator">next</a>
  <script>
    var self = this,
      articles = ls.get('articles') || []
    self.page = +opts.uid || 1
    self.start = (self.page - 1) * settings.per_page
    self.end = self.page * settings.per_page
    self.articles = articles.slice(self.start, self.end)
    self.articlesLength = articles.length
    riot.dispatcher.on('articles_update', function() {
      articles = ls.get('articles')
      self.articles = articles.slice(self.start, self.end)
      self.update()
    })
  </script>
</articles>

<article>
  <div class="article">
    <p>
      <a href="#/articles" class="back">&lt; back</a>
    </p>
    <h1>
      <a href="{ article.link }" target="_blank">{ article.title }</a>
    </h1>
    <div class="content" name="content">
      <raw-html html={ article.description }></raw-html>
    </div>
    <p class="subtext">
      <span class="creator">{ article.creator }</span> |
      <span class="date">{ date }</span> |
      <a href="{ article.comments }" target="_blank">comments</a> |
      <span>
        (<a href="{ article.channel }" target="_blank">{ article.channel }</a>)
      </span>
    </p>
    <p><a href="#/articles" class="back">&lt; back</a></p>
  </div>
  <script>
    var self = this
    var articles = ls.get('articles')
    self.article = articles.filter(function(article) {
      return article.uid == opts.uid
    })[0]
    if (!self.article.seen) {
      self.article.seen = true
      ls.set('articles', articles)
    }
  </script>
</article>

<channels>
  <ul class="channels item-view">
    <li each={channels} class="item">
      <div class="title">
        { title || src }
        <span class="domain" onclick={ deleteChannel }>(delete)</span>
      </div>
      <div class="subtext">
        <span>{ src }</span>
      </div>
    </li>
  </ul>
  <input type="text" class="add_channel" name="control">
  <button onclick={ addChannel }>add</button>
  <script>
    var self = this
    deleteChannel(e) {
      self.channels = self.channels.filter(function(channel) {
        return channel !== e.item
      })
      ls.set('channels', self.channels)
    }
    addChannel(e) {
      if (!self.control.value)
        return alert('Enter RSS url!')
      self.channels.push({src: self.control.value})
      self.control.value = ''
      ls.set('channels', self.channels)
    }
    this.on('mount', function() {
      self.channels = ls.get('channels') || []
      self.update()
    })
  </script>
</channels>

<settings>
  <table class="settings">
    <tr>
      <td>Delete all storred articles:</td>
      <td><button onclick={ resetArticles }>delete</button></td>
    </tr>
    <tr>
      <td>Reset channels info:</td>
      <td><button onclick={ resetChannels }>reset</button></td>
    </tr>
    <tr>
      <td>Updates channels:</td>
      <td><button onclick={ updateChannels }>update</button></td>
    </tr>
    <tr>
      <td>Import RSS data</td>
      <td><input onchange={ importData } type="file"></td>
    </tr>
    <tr>
      <td>Export RSS data</td>
      <td><button onclick={ exportData }>export</button></td>
    </tr>
  </table>
  <script>
    var self = this
    resetArticles() {
      if (confirm('Are your sure?')) {
        ls.set('articles', [])
      }
    }
    resetChannels() {
      if (confirm('Are your sure?')) {
        ls.set('channels', (ls.get('channels') || []).map(function(item) {
          return { src: item.src }
        }))
      }
    }
    updateChannels() {
      if (confirm('Are your sure?')) {
        ls.set('channels', (ls.get('channels') || []).map(function(item) {
          item.lastUpdate = 0
          return item
        }))
        api.checkUpdates(function(newArticlesCount) {
          if (newArticlesCount) {
            riot.dispatcher.trigger('articles_update')
          }
        })
      }
    }
    importData(e) {
      if (e.target.files && e.target.files[0]) {
        var file = e.target.files[0]
        var reader = new FileReader()
        reader.addEventListener('loadend', function() {
          self.busy = false
          var data = JSON.parse(reader.result)
          ls.set('channels', data.channels)
          ls.set('articles', data.articles)
          self.update()
        })
        reader.readAsText(file)
        self.busy = true
      }
    }
    exportData() {
      var a = document.createElement('a')
      a.download = 'rss_export_' + new Date().toISOString() + '.json'
      a.href = 'data:application/json,' + encodeURIComponent(JSON.stringify(ls.get()))
      a.dataset.downloadurl = ['application/json', a.download, a.href].join(':')
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    }
  </script>
</settings>

<raw-html>
  <script>
    this.on('update', function() {
      this.root.innerHTML = opts.html
    })
  </script>
</raw-html>