*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #444;
  line-height: 1.4;
  background: #fbfbfb;
}
header:after {
  display: table;
  clear: both;
  content: "";
}
h1, h2, h3, h4, h5 {
  font-weight: 400
}
h1 {
  font-size: 18pt
}
h2 {
  font-size: 16pt
}
h3 {
  font-size: 14pt
}
h4 {
  font-size: 12pt
}
h5 {
  font-size: 10pt
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}
a {
  color: #1483b7;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #999
}
input[type=text] {
  border: 1px solid #ddd;
  padding: 3px 5px;
  border-radius: 2px;
  font: inherit;
  font-size: 11px;
}
button, input[type=file] {
  font: inherit;
  border: none;
  background: #eee;
  background: linear-gradient(#f5f5f5, #eee);
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px 7px;
  cursor: pointer;
  font-size: 11px;
}
header {
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #444;
}
header a {
  color: #444;
}
header nav a {
  font-size: 12px;
  display: block;
  float: left;
  padding: 10px 10px 8px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 1;
}
header nav a + a {
  margin-left: 5px;
}
header nav a:hover {
  color: #222;
  background: #fff;
}
#view {
  padding: 10px;
}
.item {
  padding: 2px 0 2px 27px;
  position: relative;
  display: block;
}
.item .title {
  color: #222;
  font-size: 10pt;
}
.item .title:hover,
.item .title:visited {
  color: #999;
}
.item p {
  margin: 0
}
a.item {
  display: inline-block;
  color: #222
}
.readed .title,
.readed .description {
  color: #777
}
.item .description {
  color: #444
}
.item .index {
  color: #828282;
  position: absolute;
  width: 24px;
  text-align: right;
  left: 0;
  top: 5px;
  font-size: 7pt;
}
.item .domain, .item .subtext,
.article .domain, .article .subtext {
  font-size: 10px;
  color: #828282
}
.item .domain a, .item .subtext a {
  color: #828282
}
.item .domain a:hover, .item .subtext a:hover {
  color: #bbb
}
.item-view .item {
  padding-left: 0;
  margin-bottom: 30px
}
.item-view .item .index {
  display: none
}
.item .description {
  font-size: 11px
}
.item:hover .description {
  color: #666;
}
.add_channel {
  width: 240px;
}
.channels .domain {
  cursor: pointer
}
.channels .domain:hover {
  color: #222
}
.settings td {
  padding: 5px;
}
.article .content hr {
  background: none;
  height: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 15px 0
}
.article .content pre {
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 10px;
  font-family: Consolas, monospace;
  line-height: 1.4;
  overflow: auto;
  font-size: 11px;
}
.article .content img {
  display: block;
  max-width: 100%;
  margin: 15px auto;
  height: auto
}
.article >.back {
  font-family: Consolas, monospace
}
blockquote {
  border-left: 1px solid #ddd;
  font-style: italic;
  margin: 20px 0;
  padding-left: 20px
}
.article strong {
  font-weight: 500;
}
.loader {
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  margin: 12px 24px 12px 0;
  font-size: 0;
  color: transparent;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.loader, .loader::after, .loader::before {
  -webkit-animation: loaderFade 0.9s ease-in-out infinite;
  animation: loaderFade 0.9s ease-in-out infinite;
}
.loader::after, .loader::before {
  content: "";
  vertical-align: middle;
  position: absolute;
  left: 100%;
  width: 6px;
  height: 6px;
  margin-left: 6px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader::before {
  left: 200%;
  margin-left: 12px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.article {
  max-width: 640px;
}
.article div,
.article table {
  width: 100% !important;
}
.paginator {
  display: block;
  padding: 8px;
}
.paginator:hover {
  background: rgba(0, 173, 255, 0.05);
}
.btn-menu {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 2px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
  outline: none;
  display: none;
}
.btn-menu:active {
  background: rgba(0, 0, 0, .1);
  box-shadow: 0 0 3px #000;
}
.burger {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ccc;
}
.burger::before,
.burger::after {
  width: 20px;
  height: 2px;
  background: #ccc;
  position: relative;
  top: -6px;
  display: block;
  content: "";
}
.burger::after {
  top: 4px;
}
@-webkit-keyframes loaderFade {
  50% {
    background-color: #444;
  }
  0%, 100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@keyframes loaderFade {
  50% {
    background-color: #444;
  }
  0%, 100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media(max-width: 480px) {
  .btn-menu {
    display: block;
  }
  header nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    background: #fff;
    height: 100%;
    padding: 15px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    transform: translate(-100%, 0);
    opacity: 0;
    visibility: hidden;
    transition: transform .3s, opacity .3s, visibility .3s;
  }
  header nav.in {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
  header nav a {
    display: block;
    float: none;
    margin: 5px 0;
  }
  header nav a + a {
    margin: 5px 0;
  }
}